.nyc_output/
.sonar/
.vscode/
bundle/
coverage/
docs/
src/
test/
*.log
.*
CHANGELOG.md
CONTRIBUTING.md
codecov.yml
gulpfile.js
jest.config.js
karma.*
lerna.json
mocha.opts
package-lock.json
sonar-project.properties
tsconfig.*
tslint.*
webpack.*
yarn.lock