{
  "all": true,
  "cache": true,
  "exclude": ["**/*.d.ts", "**/*.test.*", "**/__test__/**"],
  "extension": [".ts"],
  "include": ["src/**/*"],
  "instrument": true,
  "report-dir": "./coverage/node",
  "reporter": ["json", "lcov", "text-summary"],
  "sourceMap": true
}